.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table{
	display: none;
}

.openModal{
	position: fixed !important;
	z-index: 30001;
	top: 50px;
	left: 50%;
	margin-left: -400px !important;
	max-height: 80%;
	overflow: auto;
	width: 800px;
}


.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table .acf-input-table{

	display: table;
	position: relative;
	top: auto;
	left: auto;
	margin-left: 0px;
}


.acf-layout-modal-clickmask{
	content: " ";
	display: block;
	position: fixed;
	background: rgba(0,0,0,0.6);
	left: 0px;
	top:0px;
	width: 100%;
	height: 100%;
	z-index: 30000;
}
